<div class="container">
  <h1>Welcome to testing CSRF attacks in Sails!</h1>
  This site is combined with:
  <ul>
    <li><a href="http://corstests.herokuapp.com/">CORS Tests</a></li>
    <li><a href="http://corsoff.herokuapp.com/">CORS Off</a></li>
  </ul>
  <div class="row">
    <div class="col-md-10">
      <button class="btn btn-primary" style="outline: none" id="loginButton">Ajax POST to Login</button> To see the effect, open your browser's console.
    </div> <!-- class="row" -->
  </div><!-- class="col-md-10" -->
  <div class="row">
    <div class="col-md-10" style="margin-top: 10px">
      <button class="btn btn-primary" style="outline: none" id="differentEndpoint">Ajax GET request to a different endpoint</button> To see the effect, open your browser's console.
    </div> <!-- class="row" -->
  </div><!-- class="col-md-10" -->
  <div class="row">
    <div class="col-md-10" style="margin-top: 10px">
      <button class="btn btn-primary" style="outline: none" id="resetPassword">Ajax POST request to resetPassword endpoint.</button> To see the effect, open your browser's console.
    </div> <!-- class="row" -->
  </div><!-- class="col-md-10" -->
  <div class="row">
    <div class="col-md-10" style="margin-top: 10px">
      <button class="btn btn-primary" style="outline: none" id="badLink">Redirects browser to badsite page.</button> To see the effect, open your browser's console.
    </div> <!-- class="row" -->
  </div><!-- class="col-md-10" -->
</div><!-- class="container" -->